<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web Chat App</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
	<style>

	</style>

	<div class="container">
		<h3 class=" text-center">Chat Bot</h3>
		<div class="messaging">
			<div class="inbox_msg">
				<div class="mesgs">
					<div id="messageBoard" class="msg_history">
						<div class="incoming_msg">
							<div class="received_msg">
								<div class="received_withd_msg">
									<p>Hello! I am Bot! Ask Now!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="type_msg">
						<div class="input_msg_write">
							<input id="textMsg" type="text" class="write_msg" placeholder="Type a message" />
							<button id="sendBtn" class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
									aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {

		var socket = io.connect('http://127.0.0.1:5000');

		socket.on('connect', function () {
			console.log('User has connected!');
		});

		socket.on('message', function (reply_msg) {
			$("#messageBoard").append('<div class="incoming_msg"><div class="received_msg"><div class="received_withd_msg"><p>' + reply_msg + '</p></div></div></div>');
		});

		$('#sendBtn').on('click', function () {
			if($('#textMsg').val() == '') {
				$('#textMsg').focus()
			} else {
				var textMsg = $('#textMsg').val();
				$("#messageBoard").append('<div class="outgoing_msg"><div class="sent_msg"><p>' + textMsg + '</p></div></div>');
				socket.send(textMsg);
				$('#textMsg').val('');
			}

		});

	});
</script>

</html>



</html>